# Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [5]:
email="abc@gmail.com"
n=email.find("@")
print(email[n+1:email.find('.')])

gmail

# Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [14]:
s=input("enter the words seperated by comma: ")
l=[i for i in s.split(",")]
print(l)
l.sort()
print(",".join(i for i in l))

enter the words seperated by comma: without,hello,bag,world
['without', 'hello', 'bag', 'world']
bag,hello,without,world

# Question 3:
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

## Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [4]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [6]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
      print(x)

apple
banana
cherry

In [7]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Change Items
Once a set is created, you cannot change its items, but you can add new items.

### Add Items
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'apple', 'cherry', 'banana', 'mango', 'grapes', 'orange'}

### Get the Length of a Set
To determine how many items a set has, use the len() method.

In [10]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [13]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

The clear() method empties the set:

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [15]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [16]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [17]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'b', 'c'}

### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [18]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [5]:
l=input("enter the numbers : ").split(" ")
print(l)
l=[int(i) for i in l] 
l.sort()
print(l)
print([i for i in range(l[0], l[-1]+1) if i not in l])

enter the numbers : 3 5 7 1 2 4
['3', '5', '7', '1', '2', '4']
[1, 2, 3, 4, 5, 7]
[6]

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [3]:
l=input("enter the numbers : ").split(" ")
l=[int(i) for i in l]
s=set(l)
print(" ".join([str(i) for i in s]))

enter the numbers : 1 2 2 3
1 2 3